* {
    padding: 0;
    margin: 0;
    list-style: none;
    border: 0;
    box-sizing: border-box;
    outline: 0;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}

body {
    background: white;
    color: gray;
}

input :not([type="checkbox"]):not([type="radio"]) {
    width: 100%;
    height: 40px;
    border-bottom: 1px solid rgba( #fff,.3);
    background: transparent;
    color: #fff;
    font-size: 2px;
    &:focus {
        border-color: rgb(#fff,.6);
    }
}
#input {
    background-color: black;
    color: white;
}

select option {
    color: black;
}

textarea {
    width: 90%;
    border-bottom: 1px solid rgba(#fff,.3);
    background: black;
    color: gray;
    font-size: 16px;
    padding: 10px 0;
}


button {
    width: 20%;
    height: 40px;
    border-radius: 4px;
    background-color: black;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    align-items: center;
}

.form {
    width: 80%;
    margin: 20px auto;
    border: 1px solid rgba( #fff,.3);
    padding: 25px;
   
 
}
ul {
       
    label {
        font-size: 8px;
        color: rgba( #fff,.8);
        margin-bottom: 10px;
        display: inline;
    }
    .error-msg {
        font-size: 12px;
        padding-top: 10px;
        display: block;
        color: orangered;
    }
}
li {
    &:not(:last-child) {
        margin-bottom: 20px;
    }
}
h3 {
    font-size: 30px;
    margin-bottom: 30px;
    font-weight: 600;
    color:black ;
    font-weight: bold;
}
